/*see licence.txt*/
@import "https://fonts.googleapis.com/css?family=Patua+One|Open+Sans:400,600|Source+Code+Pro:400,600|Lato";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
:root {
  font-size: 16px; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  line-height: 1.46em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #474745;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2; }

p {
  margin-top: 0; }

a:link {
  text-decoration: none;
  color: #1121f4; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  color: #B6B6B6;
  border-top: 1px solid #B6B6B6; }

pre {
  margin: 0; }
  pre .hljs {
    padding-top: 0px;
    padding-bottom: 0px; }

code {
  font-family: 'Source Code Pro', monospace, monospace; }

.main {
  position: absolute;
  width: 100%;
  height: calc(100% - $navbar-height);
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-overflow-scrolling: touch; }

.ng-enter {
  -webkit-animation: slideInRight 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
          animation: slideInRight 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
  z-index: 999; }

.ng-leave {
  -webkit-animation: slideOutLeft 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
          animation: slideOutLeft 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
  z-index: 888; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

.scroll {
  overflow: hidden; }

.navbar {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9c27b0;
  width: 100%;
  height: 46px;
  z-index: 10;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .navbar #head {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
    display: block;
    text-decoration: none; }

.hamburger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: transparent;
  position: relative;
  float: right;
  min-width: 48px;
  height: 100%; }
  .hamburger .icon-bar {
    transition: all 0.3s cubic-bezier(0.93, 0.05, 0, 0.77);
    background-color: #fff;
    display: block;
    width: 1.2em;
    height: 0.125em; }
    .hamburger .icon-bar + .icon-bar {
      margin-top: 3px; }
  @media screen and (min-width: 960px) {
    .hamburger {
      visibility: hidden; } }

.nav-menu {
  z-index: 9;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 46px;
  -webkit-transform: translateX(-290px);
          transform: translateX(-290px);
  width: 280px;
  height: 100%;
  background: #FAFAFA;
  overflow: visible;
  overflow-y: auto;
  font-size: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 3px 1px -2px rgba(0, 0, 0, 0.3), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 960px) {
    .nav-menu {
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } }

@media screen and (min-width: 960px) {
  .wrap {
    -webkit-transform: translateX(280px);
            transform: translateX(280px);
    width: calc(100vw - 280px); } }

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0; }
  .nav-links li {
    height: 48px;
    line-height: 48px;
    border-bottom: solid 1px rgba(50, 50, 50, 0.2); }
  .nav-links a {
    color: #464646;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 700; }

.nav-menu.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

#top.show {
  -webkit-transform: rotate(45deg) translateY(4px) translateX(3px) scaleX(0.85);
          transform: rotate(45deg) translateY(4px) translateX(3px) scaleX(0.85); }

#mid.show {
  opacity: 0;
  -webkit-transform: scaleX(0.001);
          transform: scaleX(0.001); }

#bot.show {
  -webkit-transform: rotate(-45deg) translateY(-4px) translateX(3px) scaleX(0.85);
          transform: rotate(-45deg) translateY(-4px) translateX(3px) scaleX(0.85); }

.obfuscator {
  transition: background-color 0.2s ease-in;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: transparent;
  z-index: 8; }

.obfuscator.show {
  visibility: visible;
  background-color: rgba(140, 140, 140, 0.5); }

.container {
  padding-right: 1.2em;
  padding-left: 1.2em; }

.jumbotron {
  position: relative;
  padding: 0 0 0 0;
  width: 100%;
  height: calc(80vh - 46px);
  z-index: 0;
  overflow: hidden;
  margin-bottom: 0px; }
  .jumbotron .back {
    background-image: url("../img/rendered-512.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-filter: saturate(105%) contrast(110%) brightness(75%) blur(1px);
            filter: saturate(105%) contrast(110%) brightness(75%) blur(1px); }
    @media screen and (min-width: 513px) {
      .jumbotron .back {
        background-image: url("../img/rendered-683.jpg"); } }
    @media screen and (min-width: 684px) {
      .jumbotron .back {
        background-image: url("../img/rendered-1024.jpg"); } }
    @media screen and (min-width: 1025px) {
      .jumbotron .back {
        background-image: url("../img/rendered-1365.jpg"); } }
    @media screen and (min-width: 1366px) {
      .jumbotron .back {
        background-image: url("../img/rendered.jpg"); } }
  .jumbotron .container {
    position: absolute;
    top: 8vh;
    z-index: 2;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1em; }
    @media screen and (min-aspect-ratio: 9 / 10) {
      .jumbotron .container {
        top: 0vh; } }
    @media screen and (min-aspect-ratio: 11 / 10) {
      .jumbotron .container {
        top: 14vh; } }
  .jumbotron h1 {
    font-family: "Patua One", serif;
    color: #e6e6e6;
    font-size: 2.5em;
    -webkit-filter: drop-shadow(1px 1px 5px #282828);
            filter: drop-shadow(1px 1px 5px #282828); }
  .jumbotron p {
    font-weight: 200;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: #e6e6e6; }
  .jumbotron hr {
    margin-right: auto;
    margin-left: 0px;
    color: rgba(200, 200, 200, 0.5);
    width: 40%; }

.content {
  margin: 0px auto;
  max-width: 680px;
  border-bottom: 2px solid rgba(20, 20, 20, 0.15); }
  .content h1 {
    font-size: 1.5em; }
  .content p {
    font-size: 1em; }

.code {
  font-family: 'Source Code Pro', monospace; }

.head {
  color: #a720b8;
  font-weight: 600; }

.flex-cont {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  margin: 0px auto; }

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 320px;
  background-color: #FFF;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 1.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1.2em;
  padding-bottom: 0px;
  text-align: center; }
  @media screen and (min-width: 660px) {
    .card {
      width: calc(50% - 1em); } }
  .card a {
    text-decoration: none;
    color: #212121; }
  .card i {
    font-size: 3em;
    color: #54527d; }

.get-started {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
  font-size: 1.2rem;
  background-color: rgba(100, 100, 100, 0.05);
  transition: box-shadow 0.2s ease-in-out; }
  @media screen and (min-width: 680px) {
    .get-started:hover {
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.35); } }

.card-next {
  position: relative;
  float: right;
  width: auto;
  height: auto;
  min-width: 48px;
  padding: 0.5em 1em;
  text-align: center; }
  .card-next i {
    font-size: 1em; }

.custom1 .css {
  color: #cb8a1c; }

.custom1 .hljs-selector-tag {
  color: #3aa415; }

.custom1 .hljs-attribute {
  color: #cb8a1c; }

.custom2 .css {
  color: #d6d421; }

.custom2 .hljs-selector-tag {
  color: #333; }

.custom2 .hljs-attribute {
  color: #cf4196; }

.resources {
  list-style: none;
  padding-left: 1.5em; }
  .resources li {
    margin-bottom: 1em; }
  .resources a {
    font-weight: 600; }

.preview {
  display: block;
  padding: 0.4em;
  float: right;
  text-transform: uppercase;
  border: 2px solid #9c27b0;
  border-radius: 3px;
  background: #FFF;
  color: #9c27b0;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-weight: 600;
  font-family: 'Lato';
  transition: all 0.2s; }
  .preview:link {
    color: #9c27b0; }
  .preview:visited {
    color: #9c27b0; }
  .preview:hover {
    background-color: #9c27b0;
    color: #FFF;
    text-decoration: none; }
