/*see licence.txt*/
@import "https://fonts.googleapis.com/css?family=Patua+One|Open+Sans|Source+Code+Pro:400,600|Lato", "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

$navbar-height: 46px;

:root {
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  line-height: 1.46em;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #474745;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  color: #B6B6B6;
  border-top: 1px solid #B6B6B6;
}

pre {
  margin: 0;
  .hljs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.main {
  position: absolute;
  // top: $navbar-height;
  width: 100%;
  height: calc(100% - $navbar-height);
  perspective: 1200px;
  transform-style: preserve-3d;
  -webkit-overflow-scrolling: touch;
}

.ng-enter {
  animation: slideInRight 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
  z-index: 999;
}

.ng-leave {
  animation: slideOutLeft 0.3s both cubic-bezier(0.455, 0.03, 0.02, 0.99);
  z-index: 999;
}

@keyframes slideInRight{
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft{
  to {
    transform: translateX(-100%);
  }
}

.scroll {
  overflow: hidden;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(156, 39, 176);
  width: 100%;
  height: $navbar-height;
  z-index: 10;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.2),
  0 1px 5px 0 rgba(0,0,0,.12);

  #head {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
    display: block;
    text-decoration: none;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  position: relative;
  float: right;
  min-width: 48px;
  height: 100%;

  // &:hover {
  //   background: rgba(101, 101, 101, 0.5);
  // }

  .icon-bar {
    transition: all 0.3s cubic-bezier(0.93, 0.05, 0, 0.77);
    background-color: #fff;
    display: block;
    width: 1.2em;
    height: 0.125em;

    + .icon-bar {
      margin-top: 3px;
    }
  }
}

.nav-menu {
  z-index: 9;
  transition: all 0.3s cubic-bezier(.4,0,.2,1);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: $navbar-height;
  transform: translateX(-290px);
  width: 280px;
  height: 100%;
  background: rgb(255, 255, 255);
  overflow: visible;
  overflow-y: auto;
  font-size: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.2),
  0 1px 5px 0 rgba(0,0,0,.12);
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    height: 48px;
    line-height: 48px;
    border-bottom: solid 2px rgba(50, 50, 50, 0.2);
  }

  a {
    color: grey;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 700;
  }
}

.nav-menu.show {
  transform: translateX(0px);
}

#top.show {
  transform: rotate(45deg) translateY(4px) translateX(3px) scaleX(0.85);
}

#mid.show {
  opacity: 0;
  transform: scaleX(0.001);
}

#bot.show {
  transform: rotate(-45deg) translateY(-4px) translateX(3px) scaleX(0.85);
}

.obfuscator {
  transition: background-color 0.2s ease-in;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: transparent;
  z-index: 8;
}

.obfuscator.show {
  visibility: visible;
  background-color: rgba(140, 140, 140, 0.5);
}

.container {
  padding-right: 1.2em;
  padding-left: 1.2em;
}

.jumbotron {
  position: relative;
  padding: 0 0 0 0;
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  z-index: 0;
  overflow: hidden;
  margin-bottom: 0px;

  .back {
    background-image: url("../img/rendered-512.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: saturate(105%) contrast(110%) brightness(75%);
  }

  .container {
    position: absolute;
    top: 8vh;
    @media screen and (min-aspect-ratio: 9/10) {
      top: 0vh;
    }
    @media screen and (min-aspect-ratio: 11/10) {
      top: 14vh;
    }
    z-index: 2;
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1em;
  }

  h1 {
    font-family: "Patua One", serif;
    color: rgb(230, 230, 230);
    font-size: 2.5em;
    filter: drop-shadow(1px 1px 5px rgb(40, 40, 40));
  }

  p {
    font-weight: 200;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    color: rgb(230, 230, 230);
  }

  hr {
    margin-right: auto;
    margin-left: 0px;
    color: rgba(200, 200, 200, 0.5);
    width: 40%;
  }
}

.content {
  border-bottom: 2px solid rgba(20, 20, 20, 0.15);
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

.code {
  font-family: 'Source Code Pro', monospace;
}

.head {
  color: rgb(167, 32, 184);
  font-weight: 600;
}

.flex-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  // width: 100%;
  margin: 0px auto;
  // height: 500px;
}

.card {
  display: inline-block;
  width: 100%;
  max-width: 420px;
  height: 320px;
  background-color: #FFF;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1.2em;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;

  @media screen and (min-width: 660px) {
    width: calc(50% - 1em);
  }

  a {
    text-decoration: none;
    color: #212121;
  }

  i {
    font-size: 3em;
    color: rgb(84, 82, 125);
  }

  &:hover {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.35);
  }
}
