<div class="main">
	<div class="container content">
		<h2>Resources and more</h2>
		<p>
			A collection of useful links and websites to help further you web development and programming skills
		</p>
		<ul class="resources">
			<li>
				<a href="https://www.codecademy.com/">Codecademy</a>
				<br>
				A great website which has interactive tutorials where you can learn a variety of programming languages and skills right from the browser.
			</li>
			<li>
				<a href="http://www.w3schools.com/">W3Schools</a>
				<br>
				A collection of tutorial, references and tips provided by W3 for all things web related.
			</li>
			<li>
				<a href="http://www.getbootstrap.com/components/">Bootstrap Components</a>
				<br>
				A handy reference of over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more provided by Bootstrap.
			</li>
			<li>
				<a href="http://www.getbootstrap.com/css/">Bootstrap CSS Reference</a>
				<br>
				A reference to Bootstrap's global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and advanced grid system.
			</li>
			<li>
				<a href="https://developer.mozilla.org/en/docs/Web/HTML/Element">HTML Reference</a>
				<br>
				The Mozilla Developer Network's list of every HTML element and information about them.
			</li>
			<li>
				<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/">CSS Reference</a>
				<br>
				The Mozilla Developer Network's list of all CSS properties and values along with additional information and usages.
			</li>
			<li>
				<a href="http://foundation.zurb.com/">Foundation</a>
				<br>
				Another framework for building responsive websites similar to Bootstrap. Make sure to have a look and experiment with it and also check out the many other frameworks that exist.
			</li>
			<li>
				<a href="https://www.codeschool.com/">Code School</a>
				<br>
				Another website which teaches many different of different programming languages and covers a range of web development techniques from within the web browser with a mix of free and subscription based courses. 
			</li>
		</ul>
	</div>
</div>
